* {
  padding: 0;
  margin: 0;
}

body {
  background-color: grey;
  padding: 40px;
}

.main {
  width: 700px;
  padding: 40px;
  background: linear-gradient(to right, rgb(192, 166, 96) 30%, white 30%);
}

.verticalSpacer {
  height: 40px;
}

.row {
  display: flex;
  flex-direction: row;
}

.bottomline {
  height: 4px;
  background-color: black;
  border-radius: 19%;
}

/* 1.----------------------------------------------------------------------- */
.name .first {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 35px;
  letter-spacing: 10px;
}

.name .last {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 40px;
  letter-spacing: 15px;
}

/* 2.----------------------------------------------------------------------- */
.development {
  display: flex;
  flex-direction: row;
}

.development .imageDiv {
  width: 30%;
  height: 225px;
  overflow: hidden;
  border-radius: 50%;
}

.development .profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.development .horizontalSpacer {
  width: 10%;
}

.development .text {
  width: 60%;
}

.development .text h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.development .line {
  width: 10%;
  height: 4px;
  border-radius: 30%;
  background-color: black;
}

.development .text b {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

/* 3.----------------------------------------------------------------------- */
.contactandeducation {
  display: flex;
  flex-direction: row;
}

.contactandeducation .horizontalSpacer {
  width: 10%;
}

.contactandeducation .contact {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.contactandeducation .education {
  width: 60%;
}

.contactandeducation h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.contactandeducation b {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

/* 4.----------------------------------------------------------------------- */
.expertiseandexperience {
  display: flex;
  flex-direction: row;
}

.expertiseandexperience .horizontalSpacer {
  width: 10%;
}

.expertiseandexperience .expertise {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.expertiseandexperience .experience {
  width: 60%;
}

.expertiseandexperience h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.expertiseandexperience b {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

.expertiseandexperience .expertise li {
  font-size: 10px;
}

.expertiseandexperience .expertise .lidivone {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.expertiseandexperience .expertise .lidivtwo {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.expertiseandexperience .expertise .language {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.expertiseandexperience .expertise .level {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 35%;
}

.expertiseandexperience .expertise .filler {
  width: 25%;
}
